.ContactsHeader {
  display: flex;
  align-items: center;
  margin: 0 0 20px;

  h1 {
    flex: 0 0 auto;
  }

  .ContactsHeaderAction {
    margin: 0 0 0 auto;
  }
}

.BtnGroup {
  button {
    min-width: 115px;
  }
}

.TableContacts {
  tr {
    th:first-child,
    td:first-child {
      width: 50px;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 23%;
    }

    th:nth-child(3),
    td:nth-child(3) {
      width: 23%;
    }
  }
}
